<% if can? :create, Comment %>
  <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    <p>
       <%= t('.shown_as', user: current_user.email)%><br/>
       <%= form.text_area :body %> 
    </p>

    
    <p>
      <%= form.submit t('.create_comment')%>
    </p>
  <% end %>
<% end %>